@import 'tailwindcss';

.collaboration-tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}
.collaboration-tab {
  max-width: 20%;
  min-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.collaboration-tabs {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}
